<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-eqiv="Content-Type" />
  </head>
  <body>
    <h1> New post and favorite "<%= @post.title %>"</h1>
    <small>
      By: <%= @post.user.name %>
    </small>
    <p>
      <%= @favorite.@post.body %>
    </p>
    <p>
      <%= link_to "View post on site", topic_post_url(@post.topic, @post) %>
