<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-eqiv="Content-Type" />
  </head>
  <body>
    <h1> You're now following "<%= @post.title %>". If you no longer wish to receive notifications,
    unfavorite you <%= link_to "post", topic_post_url(@post.topic, @post) %>. </h1>
    <p>
      <%= link_to "View post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
